
/**
* 본문
*/
#content{
	height:100%;
}
.content-main{
	height:100%;
	font-family:'Nanum Gothic', sans-serif;
	font-size:20px;
	text-align:center;
}

#login-form{
	margin-top:100px;
	vertical-align:middle;
}
#id_email, #id_password{
	width:324px;
	padding:10px;
	border:1px solid #B9B9B9;
	border-radius:3px;
	font-size:20px;
}
#login-form>#login-button{
	width:346px;
	padding:10px;
	margin:20px auto 10px auto;
	border:0;
	border-radius:3px;
	background-color:#1C1C1C;
	font-family:'TmoneyRoundWindRegular';
	font-size:20px;
	color:white;
	cursor:pointer;
}

legend{
	margin-bottom:20px;
	font-size:150%;
	font-family:'TmoneyRoundWindExtraBold';
}
#user-save{
	font-size:80%;
	padding-right:5px;
	border-right:1px solid black;
	color:black;
	text-decoration:none;
}
#user-register{
	padding:0 5px;
	border-right:1px solid black;
	font-size:80%;
	cursor:pointer;
}
#user-find{
	font-size:80%;
	cursor:pointer;
}
#user-register>a, #user-find>a{
	color:black;
	text-decoration:none;
}
.error_message{
	font-size:16px;
}
