{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<title>공가치</title>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	{% block title %}{% endblock %}
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<section id="wrap">
		<h1>공가치</h1>
		<header>
			<div class="hamburger-button" onclick="toggleMenu()">☰</div>
			<div class="header-logo"><a href="/">공가치</a></div>
			<nav id="main-menu">
				<ul>
					<li><a href="{% url 'posts:post_create' %}">글쓰기</a></li>
					{% if user.is_authenticated %}
					<li class="profile">
						<a href="#">{{ user.nickname }}<img class="user-image" src="{% static 'images/header_user_image.png' %}"></a>
						<div id="user-menu">
							<ul>
								<li><a href="{% url 'mypage' %}">내 정보</a></li>
								<li><a href="{% url 'posts:my_scrap' %}">my scrap</a></li>
								<li><a href="#">쪽지</a></li>
								<li><a href="{% url 'logout' %}">로그아웃</a></li>
							</ul>
						</div>
					</li>
					{% else %}
					<li><a href="{% url 'signup' %}">회원가입</a></li>
					<li><a href="{% url 'login' %}">로그인</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>
		<div id="container">
			<aside id="side-bar">
				<ul>
					<li class="close-button" onclick="toggleMenu()">X</li>
					<li><a href="{% url 'index' %}">홈</a></li>
					<li><a href="{% url 'posts:post_create' %}">글쓰기</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'logout' %}">{{ user.nickname }} / 로그아웃</a></li>
					<li><a href="{% url 'mypage' %}">내 정보</a></li>
					{% else %}
					<li><a href="{% url 'signup' %}">회원가입</a></li>
					<li><a href="{% url 'login' %}">로그인</a></li>
					{% endif %}
				</ul>
			</aside>
			<div id="content">
				<section class="content-main">
					{% block content %}{% endblock %}
				</section>
			</section>
		</div>
	</section>
	<script src="{% static 'base.js' %}"></script>
	{% block end %}{% endblock %}
</body>
</html>
