{% extends 'base.html' %}
{% load static %}
{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'post_form.css' %}">
{% endblock %}
{% block content %}
{{ error_message }}

<div id="post_form_1">
    <form method="POST" id="areaForm" data-areas-url="{{'ajax_load_areas'}}">
        {% csrf_token %}
        <div id="post_form">
                <legend>NEW POST</legend><br>
                <table>
                    <tr>
                        <td>
                            {{ form.title }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="id_city">지역 <span> *</span></label><br>
                            {{ form.city }}
                            {{ form.area }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="id_field">분야 <span> *</span></label><br>
                            {{ form.field }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="id_tool">툴</label><br>
                            {{ form.tags }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="id_content">기타사항</label><br>
                            {{ form.content }}
                            </td>
                    </tr>
                </table>
            <input type="submit" value="등록"/>
            {% if method %}
            <input type="hidden" name="_method" value="{{ method }}" />
            {% endif %}
        </div>
    </form>
</div>


{% endblock %}
{% block end %}
<script type="text/javascript" src="/static/post_form.js"></script>
{{ form.media }}
{% endblock %}
