{% block content %}
<a href="{% url 'index' %}">index로 이동하기</a>
<h1>{{post.title}}</h1>
글번호 : {{post.id}}<br>
날짜 : {{post.date}}<br>
내용 : {{post.content}}<br>
조회수 : {{post.view_count}}<br>
{% if request.user == post.user %}
    <a href ="{% url 'update_post' post.id %}">수정하기</a>
    <a href ="{% url 'delete_post' post.id %}" onclick="return confirm('삭제할까요?')">삭제하기</a>
{% endif %}
<br><br>
{% for comment in comments %}
    {{comment.user.nickname}}<br>
    {{comment.date}}<br>
    {{comment.content}}<br>
    {% if request.user == comment.user %}
        <a href ="{% url 'delete_comment' comment.id %}" onclick="return confirm('삭제할까요?')">삭제하기</a>
    {% endif %}
    <br><br>
{% endfor %}
<form method="POST">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit">댓글 달기</button>
</form>
{% endblock %}
