/**
* check-box
*/
#check-box{
	padding-top:30px;
	font-size:15px;
	font-family:'IBMPlexSansKR-Light';
	text-align:left;
	margin-left: auto;
	margin-right: auto;
	width: 97%;
}
#check-box table{
	border:1px solid gray;
	border-spacing:15px;
}
#check-box table th{
	width:75px;
}
#check-box label{
	display:inline-block;
	width:100px;
	padding-bottom: 1px;
}
#check-box input{
	margin-right:10px;
	vertical-align:middle;
}
#check-box-add ul{
	max-width:700px;
	list-style:none;
	color:gray;
}
#check-box-add li{
	float:left;
	padding:7px;
	margin:10px;
	border:1px solid gray;
	border-radius:5px / 5px;
	font-size:14px;
}
#check-box-remove{
	cursor:pointer;
}
#check-box-add li:hover, #check-box-add li:active{
	color: black;
	border: 1px solid black;
}

/**
* posts
*/
#posts{
	margin-top:100px;
	font-family:'IBMPlexSansKR-Light';
	width: 90%;
	clear: both;
}

#post_card{
	box-shadow:0px 0px 5px darkgray;
	padding: 5px;
	position: relative;
	float: left;
	margin: 10px;
	z-index: 10;
}

#post_card:hover{
	box-shadow:0px 0px 5px gray;
}

#post_card ul{
	list-style: none;
	border-bottom: 1px solid gainsboro;
}

#post_card ul li:nth-child(2), #post_card ul li:nth-child(3){
	font-size: 15px;
	position: absolute;
}

#post_card ul li:nth-child(1) div{
	border-radius: 30px;
	width: 40px;
	height: 40px;
	padding: 10px;
	margin: 15px;
}

#post_card ul li:nth-child(1) img{
	width: 40px;
	height: 40px;
}

#post_card ul li:nth-child(2){
	top: 40px;
	left: 95px;
	font-weight: 700;
}

#post_card ul li:nth-child(3){
	font-weight: 700;
	top: 65px;
	left: 90px;
}

#post_card ul li:nth-child(3) img{
	vertical-align: middle;
	padding-right: 5px;
	z-index: -1;
}

#post_card_field{
	padding: 15px;
	overflow: hidden;
	font-size: 20px;
	font-family: 'TmoneyRoundWindExtraBold';
}

#post_card_tool{
	padding: 15px;
	overflow: hidden;
	font-size: 15px;
}

#post_card_date{
	position: absolute;
	bottom: 5px;
	left: 10px;
	padding-right: 5px;
	font-size: 15px;
}

#post_card_icon{
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding-left: 5px;
	z-index: -1;
}

#post_card_icon img{
	width: 40px;
	height: 40px;
}

#post_card_icon a{
	padding-right: 15px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: inline-block;
	z-index: 20;
}

#post_card_icon img:hover{
	width: 42px;
	height: 42px;
}

/**
*  post page
*/

#post_page{
	clear: both;
	font-family: 'TmoneyRoundWindExtraBold';
	text-align: center;
	margin: 20px;
	font-size: 25px;
}

#post_page a{
	text-decoration: none;
	color:black;
	padding-left: 30px;
}

/* Mobile Device */
/* 768px 미만 해상도의 모바일 기기를 위한 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨. 미디어 쿼리를 지원하지 않는 모바일 기기를 위해 미디어 쿼리 구문을 사용하지 않는다. */
#post_card{
	width: 300px;
	height: 300px;
}

#post_card_field{
	width:270px;
	height:50px;
}

#post_card_tool{
	width:270px;
	height:50px;
}

/* Tablet &amp; Desktop Device */
@media all and (min-width:768px) {
   /*  사용자 해상도가 768px 이상일 때 이 코드가 실행됨. 테블릿과 데스크톱의 공통 코드를 작성한다. */
	#check-box{
		width: 870px;
	}
}

/* Desktop Device */
@media all and (min-width:768px) and (max-width: 1400px){
   /*  사용자 해상도가 768px 이상이고 1400px 이하일 때 이 코드가 실행됨. 아이패드, 노트북 등에 대응하는 코드를 작성한다. */

}

/* Desktop Device */
@media all and (min-width:1400px){
	/*  사용자 해상도가 1400px 이상일 때 이 코드가 실행됨. 1400px 이상의 랩탑 또는 데스크톱에 대응하는 코드를 작성한다. */
	#post_card{
		width: 380px;
		height: 380px;
	}

	#post_card_field{
		width:350px;
		height:90px;
	}
	
	#post_card_tool{
		width:350px;
		height:90px;
	}
}