#filter-box{
	display:table;
	min-width:800px;
	max-width:800px;
	padding:5px;
    margin:0 auto;
	border:1px solid gray;
	font-family:'IBMPlexSansKR-Light';
	font-size:15px;
}
#filter-box .filter{
	display:table;
	margin:10px 10px;
}
#filter-box .filter .filter-name{
	display:table-cell;
    width:130px;
	vertical-align:top;
}
#filter-box .filter .filter-option{
	float:left;
	width:130px;
    height:25px;
}
#filter-box .filter .filter-option label{
    position:relative;
    top:-2px;
}

#check-list ul{
    display:flex;
    flex-wrap:wrap;
}
#check-list ul li{
	padding:4px 8px 5px 8px;
	margin:2px;
	border:1px solid gray;
	border-radius:3px;
	font-size:14px;
	color:gray;
}
#check-list ul li:hover, #check-list ul li:active{
	border-color:black;
	color:black;
}
#check-list ul li span{
    line-height:20px;
    vertical-align:middle;
}
#check-list .remove-option{
	font-size:20px;
    cursor:pointer;
}
