
.post_detail_box{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-family:'IBMPlexSansKR-Light';
    width:1000px;
    min-height:450px;
    box-shadow: 0px 0px 10px 5px lightgray;
}

.post_detail_left{
    background: -webkit-linear-gradient(45deg,  #86A8E7, #a8a8d8); 
    background: linear-gradient(45deg, #86A8E7, #a8a8d8);  
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items: center;
    width:30%;
    color:white;
    font-size: 15px;
}

.post_detail_left div{
    margin-bottom:10px;
}

.post_detail_left #post_detail_profile_img, .comment #comment_profile_img, .create_comment #comment_profile_img{
    background-image:url(./images/post_card_user.png);
    background-size:cover;
    border-radius:50%;
    background-color: white;
    width:100px;
    height:100px;
    margin-top: 50px;
}

.post_detail_left #post_detail_profile_name{
    font-size: 60px;
}

.post_detail_left .icon_box{
    margin-bottom: 10px;
    width: 224px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
}

.post_detail_left .icon a{
    z-index:15;
    width:40px;
    height:40px;
    margin-left:8px;
    margin-right: 8px;
    float: left;
}

.post_detail_left .icon .message{
    background:url(./images/post_detail_message.png);
    background-size:100%;
}
.post_detail_left .icon .scrap{
    background:url(./images/post_detail_scrap.png);
    background-size:100%;
}
.post_detail_left .icon .scrap .scrapped{
    background:url(./images/post_card_scrapped.png);
    background-size:100%;
}
.post_detail_left .icon .edit{
    background:url(./images/post_detail_edit.png);
    background-size:100%;
}
.post_detail_left .icon .delete{
    background:url(./images/post_detail_delete.png);
    background-size:100%;
}

.post_detail_right{
    width:70%;
    font-size:20px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    flex-direction:column;
    background-color: white;
}

.post_detail_right>div{
    margin-left: 30px;
    width: 90%;
}

.post_detail_right #post_detail_field{
    font-size: 40px;
    font-family:'GmarketSansBold';
    margin-bottom: 10px;
    margin-top: 50px;
}

.post_detail_right #asdf{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.post_detail_right #post_detail_tool{
    background-color: black;
    border-radius:10px;
    color: white;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
}

.post_detail_right #post_detail_content{
    color: gray;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 60px;
}

.post_detail_right #post_detail_comment{
    text-align: right;
    margin-bottom: 15px;
}

.create_comment_box{
    width:75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.create_comment{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.create_comment #comment_content{
    width: 85%;
    margin-left: 30px;
}

.create_comment textarea{
    border: 0;
    box-shadow: 0px 0px 3px 2px lightgray;
    border-radius: 5px;
    resize: none;
    width: 95%;
    font-size: 20px;
    padding: 10px;
    font-family:'IBMPlexSansKR-Light';
    height: 100px;
    margin-left: 3px;
}

.create_comment input[type=submit]{
    width: 98%;
    color: white;
    background-color: lightgray;
    border-radius: 5px;
    border: 0px;
    height: 40px;
    font-family:'TmoneyRoundWindExtraBold';
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.comment_box{
    width: 75%;
    font-family:'IBMPlexSansKR-Light';
    margin-left: auto;
    margin-right: auto;
}

.comment{
    margin: 10px;
    display: flex;
    border-bottom: 1px solid lightgray;
    font-size: 20px;
}

.comment .comment_left #comment_profile_img, .create_comment #comment_profile_img{
    width: 50px;
    height:50px;
    margin-bottom: 40px;
    margin-top: 10px;
    background-color: lightgray;
}

.comment .comment_right{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top:10px;
    margin-left:30px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.comment .comment_right_line{
    display: flex;
    justify-content: space-between;
}

.comment .comment_right_line #comment_name{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-right: 5px;
}

.comment .comment_right_line #comment_date{
    display: inline-block;
    font-size: 13px;
    color: gray;
}

.comment .comment_right_line #comment_menu{
    font-size: 15px;
    color: gray;
}

.comment .comment_right #comment_content{
    margin: 30px 0px;
    color: dimgray;
    width: 100%;
    word-wrap:break-word;
}