#posts{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    overflow:auto;
    margin-top:10px;
    font-family:'IBMPlexSansKR-Light';
}
#posts .post-card{
    position:relative;
    width:300px;
    height:300px;
    padding:5px;
    margin:25px;
    box-shadow:0px 0px 5px darkgray;
}
#posts .post-card:hover{
    box-shadow:0px 0px 5px gray;
}
#posts .post-card .profile{
    display:flex;
    align-items:center;
    width:100%;
    padding-bottom:5px;
    border-bottom:1px solid gainsboro;
    font-size:15px;
}
#posts .post-card .profile-image-box{
    font-size:0;
}
#posts .post-card .profile-image{
    width:50px;
    height:50px;
    margin:15px;
    border-radius:25px;
    background-color:lightpink;
}
#posts .post-card .user-info-box{
    margin-left:5px;
    line-height:25px;
}
#posts .post-card .user-info-box .location::before{
    content:'';
    display:inline-block;
    width:13px;
    height:17px;
    margin-right:5px;
    background:url(./images/post_card_location.png);
    background-size:100%;
    vertical-align:middle;
}
#posts .post-card .field, #posts .post-card .tool{
    height:50px;
    padding:10px;
}
#posts .post-card .field{
    font-family:'TmoneyRoundWindExtraBold';
    font-size:20px;
}
#posts .post-card .tool{
    font-size:15px;
}
#posts .post-card .date{
    position:absolute;
    left:10px;
    bottom:10px;
    font-size:15px;
}
#posts .post-card .icon{
    position:absolute;
    right:10px;
    bottom:10px;
    font-size:0;
}
#posts .post-card .icon a{
    display:inline-block;
    z-index:10;
    width:40px;
    height:40px;
    margin-left:15px;
}
#posts .post-card .icon .message{
    background:url(./images/post_card_message.png);
    background-size:100%;
}
#posts .post-card .icon .scrap{
    background:url(./images/post_card_scrap.png);
    background-size:100%;
}
#posts .post-card .icon .scrap.scrapped{
    background:url(./images/post_card_scrapped.png);
    background-size:100%;
}
#posts .post-card.filling-empty-space{
    height:0;
    padding:0 5px;
    margin:0 25px;
}

#page-btn{
    margin-bottom:20px;
    font-family:'TmoneyRoundWindExtraBold';
    font-size:25px;
    text-align:center;
}
#page-btn a{
    margin:50px;
}


/* Mobile Device */
/* 768px 미만 해상도의 모바일 기기를 위한 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨. 미디어 쿼리를 지원하지 않는 모바일 기기를 위해 미디어 쿼리 구문을 사용하지 않는다. */
#post_card{
	width: 300px;
	height: 300px;
}

#post_card_field{
	width:270px;
	height:50px;
}

#post_card_tool{
	width:270px;
	height:50px;
}

/* Desktop Device */
@media all and (min-width:1400px){
	/*  사용자 해상도가 1400px 이상일 때 이 코드가 실행됨. 1400px 이상의 랩탑 또는 데스크톱에 대응하는 코드를 작성한다. */
	#post_card{
		width: 380px;
		height: 380px;
	}

	#post_card_field{
		width:350px;
		height:90px;
	}
	
	#post_card_tool{
		width:350px;
		height:90px;
	}
}