#filter-box{
	display:table;
	width:90%;
	padding:5px;
	margin:0 auto;
	border:1px solid gray;
	font-family:'IBMPlexSansKR-Light';
	font-size:15px;
	text-align:left;
}
#filter-box .filter{
	display:table;
	margin:10px 10px;
}
#filter-box .filter .filter-name{
	display:table-cell;
	width:80px;
	vertical-align:top;
}
#filter-box .filter .filter-options{
	display:flex;
	flex-wrap:wrap;
}
#filter-box .filter .filter-option{
	width:110px;
	height:25px;
}
#filter-box .filter .filter-option label{
	position:relative;
	top:-2px;
}
#filter-box .filter #lang{
	width:200px;
}

#check-list ul{
	display:flex;
	flex-wrap:wrap;
}
#check-list ul li{
	padding:4px 8px 5px 8px;
	margin:2px;
	border:1px solid gray;
	border-radius:3px;
	font-size:14px;
	color:gray;
}
#check-list ul li:hover, #check-list ul li:active{
	border-color:black;
	color:black;
}
#check-list ul li span{
	line-height:20px;
	vertical-align:middle;
}
#check-list .remove-option{
	font-size:20px;
	cursor:pointer;
}

/* Tablet &amp; Desktop Device */
@media all and (min-width:768px) {
   /*  사용자 해상도가 768px 이상일 때 이 코드가 실행됨. 테블릿과 데스크톱의 공통 코드를 작성한다. */
	#filter-box{
		max-width:800px;
		min-width:800px;
	}
	#filter-box .filter .filter-name{
		width:130px;
	}
	#filter-box .filter .filter-option{
		width:130px;
	}
}

#post-cards{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	overflow:auto;
	width:90%;
	margin:10px auto 0 auto;
	font-family:'IBMPlexSansKR-Light';
}
.post-card{
	position:relative;
	width:300px;
	height:300px;
	padding:5px;
	margin:25px;
	box-shadow:0px 0px 5px darkgray;
	cursor:pointer;
}
.post-card:hover{
	box-shadow:0px 0px 5px gray;
}
.post-card .profile{
	display:flex;
	align-items:center;
	width:100%;
	padding-bottom:5px;
	border-bottom:1px solid gainsboro;
	font-size:15px;
}
.post-card .profile-image-box{
	font-size:0;
}
.post-card .profile-image{
	width:50px;
	height:50px;
	margin:15px;
	border-radius:25px;
	background-color:lightpink;
}
.post-card .user-info-box{
	margin-left:5px;
	line-height:25px;
}
.post-card .user-info-box .area::before{
	content:'';
	display:inline-block;
	width:13px;
	height:17px;
	margin-right:5px;
	background:url(./images/post_card_area.png);
	background-size:100%;
	vertical-align:middle;
}
.post-card .field, .post-card .lang{
	height:50px;
	padding:10px;
}
.post-card .field{
	font-family:'TmoneyRoundWindRegular';
	font-size:20px;
}
.post-card .lang{
	font-size:15px;
}
.post-card .date{
	position:absolute;
	left:10px;
	bottom:10px;
	font-size:15px;
}
.post-card .icon{
	position:absolute;
	right:10px;
	bottom:10px;
	font-size:0;
}
.post-card .icon a{
	display:inline-block;
	z-index:10;
	width:40px;
	height:40px;
}
.post-card .icon .message{
	margin-right:15px;
	background:url(./images/post_card_message.png);
	background-size:100%;
}
.post-card .icon .scrap{
	background:url(./images/post_card_scrap.png);
	background-size:100%;
}
.post-card .icon .scrap.scrapped{
	background:url(./images/post_card_scrapped.png);
	background-size:100%;
}
.post-card.filling-empty-space{
	height:0;
	padding:0 5px;
	margin:0 25px;
}

#page-btn{
	margin:50px auto 40px auto;
	font-family:'TmoneyRoundWindRegular';
	font-size:25px;
	text-align:center;
}
#page-btn a{
	margin:0 50px;
}

/* Mobile Device */
/* 768px 미만 해상도의 모바일 기기를 위한 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨. 미디어 쿼리를 지원하지 않는 모바일 기기를 위해 미디어 쿼리 구문을 사용하지 않는다. */
#post_card{
	width:300px;
	height:300px;
}

#post_card_field{
	width:270px;
	height:50px;
}

#post_card_lang{
	width:270px;
	height:50px;
}

/* Desktop Device */
@media all and (min-width:1400px){
	/*  사용자 해상도가 1400px 이상일 때 이 코드가 실행됨. 1400px 이상의 랩탑 또는 데스크톱에 대응하는 코드를 작성한다. */
	#post_card{
		width:380px;
		height:380px;
	}

	#post_card_field{
		width:350px;
		height:90px;
	}

	#post_card_lang{
		width:350px;
		height:90px;
	}
}
