{% extends 'base.html' %}
{% load static %}
{% block title %}<link rel="stylesheet" type="text/css" href="{% static 'post_detail.css' %}">{% endblock %}

{% block content %}
{% if request.user.id %}
<post-detail-card :post_id="{{ post_id }}" :request_user_id="{{ request.user.id }}"></post-detail-card>
{% else %}
<post-detail-card :post_id="{{ post_id }}"></post-detail-card>
{% endif %}
{% endblock %}

{% block end %}
<script type="text/javascript" src="{% static 'scrap.js' %}"></script>
<script type="text/javascript" src="{% static 'post_detail.js' %}"></script>
{% endblock %}
