{% block content %}

<h3>글쓰기</h3>

{{ error_message }}

<form method="post" id="areaForm" data-areas-url="{% url 'ajax_load_areas' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="등록" />
    {% if method %}
    <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    $("#id_city").change(function () {
        const url = $("#areaForm").attr("data-areas-url");
        const cityId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'city_id': cityId
            },
            success: function (data) {
                $("#id_area").html(data);
            }
        });
    });
</script>


{% endblock %}
