{% extends 'base.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'post_form.css' %}">
{% endblock %}

{% block content %}
{{ error_message }}
<form method="post" id="post-form">
	{% csrf_token %}
	<legend>NEW POST</legend><br><br>
	<label for="id_sido">지역 <span>*</span></label><br>
	{% if form.instance.area %}
	<select-area :initial_selected_sido="{{ form.instance.area.sido.id }}" :initial_selected_sigungu="{{ form.instance.area.id }}"></select-area>
	{% else %}
	<select-area></select-area>
	{% endif %}
	<br>
	<label for="id_field">분야 <span>*</span></label><br>
	{{ form.field }}<br>
	<label for="id_content">내용 <span>*</span></label><br>
	{{ form.content }}<br><br>
	<input type="submit" value="등록" />
</form>
{% endblock %}

{% block end %}
<script type="text/javascript" src="{% static 'select_area.js' %}"></script>
{% endblock %}
