html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	text-decoration:none;
}
@font-face {
	font-family:'TmoneyRoundWindExtraBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff'); font-weight: normal; font-style: normal; 
}
@font-face { 
	font-family:'IBMPlexSansKR-Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff'); font-weight: normal; font-style: normal;
}
.inline_form {
    display: inline;
}
#wrap{
	width:100%;
	height:100%;
	padding-top:65px;
}

/**
* 헤더
*/
header{
	position:fixed;
	top:0;
	width:100%;
	height:55px;
	padding:5px 15px;
	background-color:#1C1C1C;
	font-family:'TmoneyRoundWindExtraBold';
	vertical-align:middle;
	z-index: 100;
}
header::after{
	content:'';
	display:block;
	clear:both;
}
.hamburger-button{
	float:left;
	font-size:30pt;
	color:white;
	cursor:pointer;
}
.header-logo{
	float:left;
}
.header-logo a{
	padding:0px 25px;
	font-size:30pt;
	color:white;
}

/**
* 헤더 메뉴
*/
#header-menu{
	float:right;
	margin-right:50px;
}
#header-menu ul{
	list-style:none;
}
#header-menu li{
	display:inline;
	padding:0px 10px;
	line-height:50px;
	cursor:pointer;
}
#header-menu>ul>li>a{
    font-family:'IBMPlexSansKR-Light';
	font-size:13pt;
	color:white;
}
#header-menu>ul>li>a:hover, #header-menu>ul>li>a:active{
	text-decoration:underline;
}

/**
* 사이드바
*/
#side-bar{
	position:fixed;
	top:0px;
	left:-300px;
	width:280px;
	height:100%;
	padding:10px 10px;
	background-color:#264653; /* 사이드바 색 */
	font-family:'TmoneyRoundWindExtraBold';
	line-height:200%;
	transition:left 0.5s;
	z-index: 120;
}
#side-bar.open{
	left:0px;
}
#side-bar>ul>li{
	padding-left:10px;
	margin-bottom:15px;
}
#side-bar>ul>li>a{
	font-size:18pt;
	color:white;
}
#side-bar>ul>li>a:hover, #side-bar>ul>li>a:active{
	color:red;
}
.close-button{
	padding-right:10px;
	text-align:right;
	font-size:200%;
	line-height:150%;
	cursor:pointer;
}

/**
* 본문
*/
#content{
	display:table;
	padding-top:30px;
	margin:0 auto;
}
.content-main{
	font-family:'Nanum Gothic', sans-serif;
	font-size:15pt;
}
.content-main>.content-main-title{
	font-size:180%;
}
/*
@media (max-width:960px){
	.content-main{
		padding:0px 10px;
	}
}
*/

#user_image{
	width:45px;
	height:45px;
    margin-left:10px;
	background-color:white;
	border:1px solid white;
	border-radius:25px;
	vertical-align:middle;
}

/**
*  dropdown
*/
.user_dropdown{
	position:absolute;
	right:50px;
	top:65px;
	visibility:hidden;
	color:black;
	transition:all 0.3s ease;
	border-radius:0px 0px 7px 7px;
	transform:translateY(10px);
	cursor:default;
	font-family:'IBMPlexSansKR-Light';
}

.header_user:hover .user_dropdown{
	visibility:visible;
	transform:translateY(0px);
}

.user_dropdown li{
	padding:0px !important;
}

.user_dropdown li a{
	display:block;
	text-decoration:none;
	font-size:15px;
	padding:10px 15px;
	width: 100px;
	transition:all 0.3s ease;
	color:black;
	background-color:rgb(238, 238, 238);
	line-height:30px;
	text-align:center;
}

.user_dropdown li a:hover{
	font-size:18px;
	background-color:rgb(221, 221, 221);
}

[v-cloak]{
	display:none !important;
}
