<!--CARD START-->
<div class="card">
	<div class="title">공가치</div>
	<div class="intro">
		공모전을 같이 할 사람을 찾아주는 웹사이트
	</div>
	<div class="role-icon"><img src="web/frontend.png" title="프론트엔드"><img src="web/design.png" title="웹 디자인"></div>
</div>
<div class="card">
	<div class="title">프로젝트1</div>
	<div class="intro">
		테스트 프로젝트<br>
	</div>
	<div class="role-icon"><img src="web/backend.png" title="백엔드"></div>
</div>
<div class="card">
	<div class="title long">테스트 프로젝트 2</div>
	<div class="intro">
		테스트 프로젝트 2
	</div>
	<div class="role-icon"><img src="web/db.png" title="DB"></div>
</div>
<div class="card">
	<div class="title">프로젝트 3</div>
	<div class="intro">
		테스트 프로젝트 3
	</div>
	<div class="role-icon"><img src="web/design.png" title="웹 디자인"></div>
</div>
<div class="card">
	<div class="title">PS bot</div>
	<div class="intro">
		PS 스터디를 도와주는 디스코드 봇
	</div>
	<div class="role-icon"><img src="web/backend.png" title="웹 디자인"></div>
</div>
<!--CARD END-->