<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="save"/>
</form>
<!--
<form method="POST">
    {% csrf_token %}
    {{ profile_form.as_p }}
    <input type="submit" value="save" name="setting_profile"/>
</form>
<form method="POST">
    {% csrf_token %}
    {{ new_pass_form.as_p }}
    <input type="submit" value="save" name="setting_password"/>
</form>
<form method="POST">
    {% csrf_token %}
    {{ account_form.as_p }}
    <input type="submit" value="save" name="setting_account"/>
</form>
-->
